/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/* Optimalized on 1366x768 */

/* Navbar */
nav .navbar-brand {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

nav .navbar-brand .navbar-brand-text {
  font-size: 15px;
  line-height: 16px;
}

nav .navbar-brand-text .top-text {
  font-weight: 400;
  color: #356293 !important;
}

nav .navbar-brand-text .bottom-text {
  font-weight: 400;
  color: #FF0000 !important;
}

nav a.nav-link {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

/* Section */
section .sect-header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #000;
}

section#services .svg-inline--fa {
  font-size: 35px;
}

/* Jumbotron */
.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: -2;
  margin-bottom: 0;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: -1;
}

.jumbotron .a-button {
  background: #000;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

@media(max-width:767px) {
  .jumbotron-inner {
    width: 100%;
    z-index: 0;
    text-align: center;
  }
}

@media(min-width:768px) {
  .jumbotron-inner {
    width: 60%;
    z-index: 0;
  }
}

.jumbotron h1 {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 52px;
}

.jumbotron p {
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 3rem;
}

/* Section */
section .row:first-child {
  padding-top: 15px;
}

section .row:last-child {
  padding-bottom: 15px;
}

/* Section Specific */
section#short_desc .desc-text {
  color: #5d5d5d;
}

/* Footer */
footer {
  color: #fff;
}

footer .foot-header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

footer .foot-content {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

/* Misc */
.bg-dark {
  color: #191919;
}

.bg-grey {
  background-color: rgba(185, 185, 185, .17);
}
